@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #D0BE7C;
  font-size: 24px;
  text-align: start;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color : white;
  font-size: 18px;
  text-align: justify;
}

.btn {
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: #2B50AA;
  border-radius: 10px;
}

.btn:hover {
  background-color: #1c336b;
}

.contenu-intro {
  padding-right: 40px;
  padding-left: 40px;
}