#article-1-records {
    background-image: url(../../Images/boxeur.jpg);
}

/********************** PARTIE RESPONSIVE **********************/

@media screen and (min-width: 1224px) {
    #article-1-records {
        background-image: url(../../Images/boxeur.webp);
    }
    #titre-joueurs {
        background-color: #2B50AA;
        width: fit-content;
    }
    #titre-joueurs h2 {
        display: block;
    }
}